@import "./theme";

/** 
 * GRAPHIC
 */

.icon__c {
  @apply h-5 w-5;
  &:not(.multi-color) .icon:not(svg) {
    @apply h-full w-full bg-black;
  }
  .multi-color svg {
    @apply bg-transparent;
  }
  a {
    @apply z-10;
  }
}

.loader__c {
  .loader__background {
    @apply bg-[#03002e];
  }
  .icon__c {
    @apply h-20 w-20;
    .icon {
      @apply bg-[#ff0000];
    }
  }

  .image__c {
    @apply h-16 w-16;
  }
}

.shape__c {
  @apply bg-black-primary;
  &.circle {
    @apply h-6 w-6 rounded-full;
    &.outline {
      @apply border border-solid border-black bg-transparent outline-none;
    }
    &.fill {
      @apply bg-black-primary;
    }
  }
  &.rectangle {
    @apply h-6 w-8;
    &.outline {
      @apply border border-solid border-black bg-transparent outline-none;
    }
    &.fill {
      @apply bg-black-primary;
    }
  }
  &.square {
    @apply h-0 w-full pt-full;
  }
  &.line {
    @apply h-0.5 w-4;
    &.horizontal {
      &.short {
        @apply h-[1px] w-8;
      }
      &.long {
        @apply h-[1px] w-16;
      }
    }
    &.vertical {
      &.short {
        @apply h-8 w-[1px];
      }
      &.long {
        @apply h-16 w-[1px];
      }
    }
    &.top {
      @apply absolute top-0;
    }
    &.bottom {
      @apply absolute bottom-0;
    }
    &.right {
      @apply absolute right-0;
    }
    &.left {
      @apply absolute left-0;
    }
  }
  &.slash {
    &.short {
      @apply h-4 w-0.5 rotate-[20deg];
    }
  }
  &.underline {
    @apply abs-center-x -bottom-1.5 z-10 h-0.5 w-[103%];
  }
  &.divider {
    @apply my-2 h-0.5 w-full;
    @apply bg-gray-light;
  }
  &.parallelogram {
    transform: skew(-17deg);
    @apply border border-solid border-white;
    color: #fff;
    box-shadow:
      0px 0px 6px 0px #fff,
      inset 0px 0px 20px 0px rgb(255 255 255 / 61%);
  }
  &.light-saber {
    @apply h-24 w-0.5;
    @apply text-red;
    @apply rounded-full;

    background-color: #fff;
    box-shadow: 0px 0px 6px 3px;
    transition:
      left 0.6s ease-out,
      width 0.6s ease-in;
  }
  &.light-box {
    @apply h-0 w-24 pt-full;
    @apply bg-transparent;
    @apply text-white;
    box-shadow: 0px 0px 6px 3px;
  }
}

.logo__c {
  @apply h-[24px] w-auto;
}

.layer__c {
  &.gradient {
    background: linear-gradient(
        217deg,
        rgba(var(--color-red) / 0.8),
        rgba(var(--color-red) / 0) 70.71%
      ),
      linear-gradient(
        127deg,
        rgba(var(--color-green) / 0.8),
        rgba(var(--color-green) / 0) 70.71%
      ),
      linear-gradient(
        336deg,
        rgba(var(--color-blue) / 0.8),
        rgba(var(--color-blue) / 0) 70.71%
      );
  }
  &.backdrop {
    @apply -z-10 bg-primary-black/80;
  }
  &.overlay {
    @apply z-10 bg-primary-black/60;
  }
  &.stripe {
    @apply top-0 -z-10 h-1/2 translate-y-0 bg-black-primary;
  }
}

/** 
 * MEDIA
 */

.image__c {
  @apply relative h-full w-full;
  &.square {
    .image__placeholder {
      @apply h-0 w-full pt-full;
    }
    .image__image {
      @apply abs-fill;
    }
  }
  .image__image {
    @apply rounded-[inherit];
  }
}

/** 
 * ACTION
 */

.button__c {
  &.disabled {
    @apply opacity-40;
  }
  .button {
    &,
    label {
      @apply btn;
    }
    label {
      @apply shadow-none;
    }
    &.standard {
      @apply btn--standard;
    }
    &.outline {
      @apply btn--outline;
    }
    &.primary {
      @apply btn--primary;
    }
    &.secondary {
      @apply btn--secondary;
    }
    &.lg {
      @apply btn--lg;
    }
    &.md {
      @apply btn--md;
    }
    &.sm {
      @apply btn--sm;
    }
  }
}

.tabs__c {
  @apply gap-1 w-full mt-8;
  .tabs__tab {
    @apply relative basis-1/4 py-2.5;
    @apply bg-[#333a50] rounded-lg  shadow cursor-pointer;
    &:hover {
      @apply bg-[#495063];
    }
    .icon__c:not(.icon-checkmark) {
      @apply w-5 h-5;
      .icon {
        @apply bg-primary-white/70;
      }
    }
    .icon__c.icon-checkmark {
      @apply absolute -top-1.5 -right-1 w-4 h-4 p-0.5;
      @apply bg-[#2cc175] rounded-full;
      .icon {
        @apply bg-primary-white/70;
      }
    }
  }
}

.carousel__c {
  .slick-slider {
    @apply w-full;
  }
  .carousel__arrows {
    .carousel__arrow {
      @apply absolute z-40;
      @apply h-8 w-8 p-1;
      @apply rounded-full border border-solid border-white;
      &.left {
        /* @apply left-[var(--gutter-outer-x)]; */
        @apply left-0;
      }
      &.right {
        /* @apply right-[var(--gutter-outer-x)]; */
        @apply right-0;
      }
    }
  }
  .image__c {
    @apply max-h-[600px];
    img {
      @apply object-contain;
    }
  }
}

/** 
 * ANIMATED
 */

/** 
 * LAYOUT
 */

main {
  @apply w-full;
}

.layout__c {
  @apply relative z-0 min-h-screen overflow-hidden max-w-full;
  @apply bg-[#1a253c];
  @apply bg-[#193c52];
  .inner__content {
    @apply w-full max-w-[600px];
  }

  &.blog {
    @apply bg-black;
    .navigation__c .navigation__links {
      @apply mt-32;
      li {
        @apply self-center;
      }
    }
    main {
      @apply page-max-w;
      @apply min-h-[calc(100vh-var(--header-height))] py-16;
      & > h1 {
        @apply pb-12;
      }
      h1,
      h2,
      h3,
      p,
      ul,
      li,
      address {
        @apply text-white;
      }
      h1 {
        @apply pb-8;
        @apply heading heading--lg;
        @apply uppercase;
      }
      h2 {
        @apply mt-16;
        @apply heading heading--xs;
        @apply uppercase;
        @apply text-center;
      }
      h3 {
        @apply ml-4 mt-8;
        @apply heading heading--xs;
        @apply text-left;
      }
      p {
        @apply mt-6;
        @apply body body--md;
        @apply tracking-normal;
      }
      address {
        @apply mt-4;
        @apply text-newline;
        @apply body body--md;
        @apply tracking-normal;
      }
      ul {
      }
      li {
        @apply ml-8 mt-2 list-disc;
        @apply body body--sm;
        @apply tracking-2;
      }
    }
  }
  &.page-terms-and-conditions,
  &.page-whistleblowing {
  }
  &.page-about,
  &.page-legal,
  &.page-support {
  }
}

.header__c {
  height: theme(spacing.header);
  @apply px-[var(--gutter-outer-x)];
  @apply w-full;
}

.scroll-progress__c {
  @apply fixed left-0 right-0 top-0 z-200;
  @apply h-0.5;
  /* @apply bg-pink-neon/100; */
  /* @apply bg-[linear-gradient(135deg, ${theme.palette[color].light} 0%, ${theme.palette[color].main} 100%)]; */

  background: linear-gradient(
    90deg,
    rgba(0, 242, 57, 1) 0%,
    rgba(0, 242, 57, 1) 35%,
    rgba(255, 255, 255, 0.8) 50%,
    rgba(214, 0, 180, 1) 65%,
    rgba(214, 0, 180, 1) 100%
  );
  @apply origin-[0%];
}

.footer__c {
  @apply page-max-w;
  @apply border-0 border-t border-solid border-gray/40 pt-24;
  @apply bg-black text-white;

  .footer__contacts {
    @apply gap-8 px-4;
    @apply heading heading--sm;
    .icon__c {
      @apply mr-4 h-9 w-9 shrink-0 rounded-full p-2;
      @apply border-yellow-jamaica-original;
      @apply border-white;
      @apply shadow-neon;
      @apply text-yellow-jamaica;
      .icon {
        @apply bg-white;
      }
    }
    a {
      @apply text-inherit;
    }
  }

  .footer__socials {
    @apply my-16 w-screen gap-6 bg-black-dark py-12;
    .icon__c {
      @apply h-9 w-9;
      .icon {
        @apply bg-yellow-neon;
      }
    }
  }

  .footer__sections {
    @apply w-full gap-6;
    .footer__section {
      &:nth-child(2n + 1) {
        @apply self-start text-left;
        .light-saber {
          @apply left-0;
          @apply text-green-neon;
        }
      }
      &:nth-child(2n) {
        @apply self-end text-right;
        .light-saber {
          @apply right-0;
          @apply text-pink-neon;
        }
      }
      h2 {
        @apply heading heading--md;
        @apply text-lg font-bold;
      }
      ul {
        @apply mt-4 gap-4;
        li {
          @apply relative;
          @apply heading heading--sm;
          @apply text-gray;
        }
      }
    }
  }

  .divider {
    @apply w-screen;
    @apply my-24 h-px;
    @apply bg-gray-dark;
  }
  .footer__bottom {
    @apply pb-20;
    .logo__c {
      @apply h-[80px] w-[80px];
    }
    .footer__copyright {
      @apply mt-8;
      @apply body body--sm;
      @apply text-gray;
    }
  }
}

.page-navigation__c {
  @apply gap-4 mt-12;
  li {
    @apply list-none;
    &:not(.has-link) {
      @apply opacity-60;
    }
    .icon__c {
      @apply h-8 w-8;
      .icon {
        @apply bg-gray-light;
        @apply bg-yellow-neon;
      }
    }
    span {
      @apply ml-4;
      @apply body body--md;
      @apply heading heading--xs;
      @apply tracking-2;
    }
  }
}

/** 
 * UTIL
 */

.cookie-banner__c {
  @apply z-100;
  @apply p-[var(--gutter-outer-x)];
  .cookie-banner__form {
    @apply px-[var(--gutter-outer-x)] py-[var(--gutter-outer-y)];
    @apply text-newline heading heading--sm bg-white;
    .logo__c {
      @apply h-[40px] w-[47px];
    }
    p {
      @apply text-center;
      @apply mt-[calc(var(--gutter-outer-y)/3*2)];
    }
  }
  .cookie-banner__actions {
    @apply mt-[calc(var(--gutter-outer-y)*3/2)];
    .button__c .button.standard {
      @apply text-white;
    }
  }
}

/* COOKIE CONSENT */
#cc-main {
  .cm__btn-group {
    .cm__btn {
      @apply btn btn--lg;
      @apply uppercase tracking-1;
    }
    .cm__btn[data-role="all"] {
      @apply btn--standard;
      @apply text-white;
      @apply border-0;
    }
    .cm__btn[data-role="necessary"] {
      @apply btn--outline;
    }
  }
}

/** 
 * SECTIONS / BLOCKS 
*/

.timed-orders-view__c {
  @apply mt-8;
  @apply px-[var(--gutter-outer-x)];
}

.day-select-row__c {
  @apply gap-1;
  --f-grid-gap: theme(space.1);

  .day-select-row__left,
  .day-select-row__right {
    &.button__c .button {
      @apply px-4 h-12;
      @apply bg-[#333a50];
      .icon {
        @apply bg-white/60;
      }
      &:hover:not([disabled]) {
        @apply bg-[#495063];
      }
    }
  }

  .day-select-row__days {
    @apply flex-1;
    .f-grid-item {
      transition: transform 0.5s ease-out;
      will-change: transform;
    }
    .day-select-row__date {
      @apply h-12;
      @apply text-white/60 bg-[#333a50] rounded-lg shadow cursor-pointer;
      will-change: background-color;
      transition: background-color 0.3s ease-in;
      &.active {
        @apply bg-[#d3a246];
        transition: background-color 0.3s ease-out;
      }
      &:hover:not(.active) {
        @apply bg-[#495063];
      }
    }
  }
}

.time-select-container__c {
  @apply mt-6 text-white;
  .time-select-container__list {
    @apply gap-4 flex-wrap;
    .time-select-container__time {
      @apply relative basis-[calc((100%-2*16px)/3)] px-4 h-16;
      @apply rounded-lg bg-transparent shadow-md border border-solid border-white;
      @apply text-white/80;
      will-change: background-color;
      transition: background-color 0.2s ease-in;
      &.active {
        @apply bg-[#87bc38] border-0;
      }
      &.disabled {
        @apply opacity-40;
      }
      &:hover:not(.active):not(.disabled) {
        @apply bg-white/20;
        transition: background-color 0.2s ease-out;
      }
      &:not(.disabled) {
        @apply cursor-pointer;
      }

      span {
        @apply absolute left-1.5 top-1;
        @apply text-2xs text-white/70;
      }
    }
  }
  .time-select-container__order {
    @apply mt-8 mb-12;
    .button {
      @apply bg-[#c26a2d] rounded-lg;
    }
  }
}

.section__c {
  background: rgb(250, 55, 186);
  background: rgba(66, 66, 66, 1);
  background: linear-gradient(
    180deg,
    rgba(0, 155, 58, 1) 0%,
    rgba(0, 0, 0, 1) 50%,
    rgba(250, 55, 186, 1) 100%
  );
  @apply py-36;
  @apply text-white;
}

/** 
 * PLUGIN / UTIL
 */

.style-guide {
  h1 {
    @apply mb-4 mt-8;
    &:nth-of-type(1) {
      @apply mt-0;
    }
  }
  .style-guide__font-sizes {
    font-family: Monospace;
    table {
      @apply py-2;
    }
    th {
      @apply min-w-[140px] py-4 text-center;
      @apply border-x-0 border-b border-t-0 border-solid border-black bg-primary text-white-primary;
      &:first-child {
        @apply bg-transparent text-black-primary;
      }
    }
    td {
      @apply py-2;
      @apply bg-white text-center;
      &:first-child {
        @apply sticky left-0 bg-secondary text-white-primary;
      }
    }
  }
  .style-guide__color-palette {
    @apply flex items-center gap-4;
    .style-guide__color-palette-color {
      @apply relative;
      input[type="color"] {
        @apply h-72 w-18;
        @apply shadow-xl;
        border-color: transparent;
      }
      input[type="text"],
      label {
        font-family: Monospace;
        font-size: 16px;
        @apply mt-2 w-18;
        @apply uppercase;
      }
      label {
        font-size: 12px;
        @apply text-center text-[#DDDDDD];
      }
      input[type="text"] {
        @apply py-1;
        @apply rounded text-center shadow-sm;

        &:focus-visible {
          @apply p-1;
        }
      }
    }
  }

  .style-guide__font-weights {
    @apply gap-16 font-[Imbue] font-[system-ui] text-5xl;
    .style-guide__font-weights-weight {
    }
  }
}
